.home7 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  font-weight: 800;
  display: inline-block;
}
.frame-wrapper1,
.home-wrapper1,
.tt-c-menu-inner1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-wrapper1 {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.frame-wrapper1,
.tt-c-menu-inner1 {
  overflow: hidden;
}
.frame-wrapper1 {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.tt-c-menu-inner1 {
  height: 23px;
  width: 45px;
  z-index: 1;
}
.hinh-nen-trang-dien-thoai-55-1-icon7 {
  position: absolute;
  top: -347px;
  left: 0;
  width: 1440px;
  height: 627px;
  object-fit: cover;
}
.paper-bag-icon7 {
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  z-index: 1;
}
.login-icon7,
.logo-mixi-tt-1-icon7,
.paper-bag-icon7 {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
}
.logo-mixi-tt-1-icon7 {
  top: 17px;
  left: 40px;
  width: 90px;
  height: 54px;
  z-index: 1;
}
.login-icon7 {
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
  z-index: 2;
}
.login-form-container {
  position: absolute;
  top: 15px;
  left: 1357px;
  width: 52px;
  height: 52px;
  overflow: hidden;
  z-index: 1;
}
.hinh-nen-trang-dien-thoai-55-1-container {
  height: 280px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -192px;
  left: 0;
}
.danh-mc-sn8 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.danh-mc-sn-phm-wrapper1,
.main-content-inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-mc-sn-phm-wrapper1 {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.main-content-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.thng-bo7 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.main-content3 {
  height: 36px;
  width: 398px;
  position: relative;
  max-width: 100%;
}
.tt-c-menu7 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-293xl) var(--padding-lg);
  position: sticky;
  gap: var(--gap-33xl);
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.trang-ch5 {
  display: inline-block;
  min-width: 69px;
}
.ca-hng5,
.o-ba-l23,
.trang-ch5 {
  position: relative;
  cursor: pointer;
}
.ca-hng5 {
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.o-ba-l23 {
  flex: 1;
  z-index: 2;
}
.navigation-path1 {
  width: 207px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-image-icon6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.navigation-path-container {
  height: 869px;
  width: 537px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 537px;
  max-width: 100%;
}
.o-3-l6 {
  margin: 0;
  width: 307px;
  height: 50px;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.review-separator {
  width: 99px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.nh-gi-ca8 {
  align-self: stretch;
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.review-separator-parent {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-teal-200);
}
.b7,
.bng-size-chi4 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.b7 {
  width: 564px;
  height: 50px;
  font-size: var(--font-size-9xl);
  max-width: 100%;
}
.bng-size-chi4 {
  width: 158px;
  height: 34px;
}
.size-3-lo-1400x800-1-icon4 {
  height: 370px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.size-chart-image-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child22 {
  height: 33px;
  width: 91px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
}
.xl4 {
  height: 26px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 410px;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
}
.size-ba-l4 {
  height: 34px;
  display: flex;
  align-items: center;
  min-width: 105px;
}
.b8,
.frame-child23,
.size-ba-l4 {
  position: relative;
  flex-shrink: 0;
}
.frame-child23 {
  height: 39px;
  width: 103px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.b8 {
  align-self: stretch;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.line-div {
  height: 40px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent14 {
  height: 39px;
  width: 20px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.b9,
.frame,
.frame-parent14 {
  flex-shrink: 0;
  display: flex;
}
.b9 {
  align-self: stretch;
  height: 30px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame {
  width: 17px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.frame-child24 {
  height: 40px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.b10 {
  align-self: stretch;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.line-group,
.rectangle-parent18 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.line-group {
  height: 39px;
  width: 18px;
  flex-shrink: 0;
}
.rectangle-parent18 {
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  overflow-x: auto;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  gap: var(--gap-lg-5);
}
.danh-mc4 {
  margin-right: -5px;
  width: 105px;
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.category-label-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.o-ba-l24 {
  height: 34px;
  position: relative;
  color: var(--color-teal-200);
  display: flex;
  align-items: center;
  min-width: 89px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
}
.category-info,
.frame-parent13,
.size-chart-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.frame-parent13,
.size-chart-info {
  flex-direction: column;
  gap: var(--gap-22xl);
  text-align: center;
}
.size-chart-info {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-13xl);
  text-align: left;
  font-family: var(--font-inter);
}
.frame-child25 {
  height: 33px;
  width: 91px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
}
.m4 {
  height: 26px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-child26,
.rectangle-parent19 {
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
}
.rectangle-parent19 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
}
.frame-child26 {
  height: 33px;
  width: 91px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.l4 {
  height: 26px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle-parent20 {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
}
.add-to-cart-button-container,
.frame-parent15,
.rectangle-parent20 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent15 {
  flex: 1;
  gap: var(--gap-xl);
}
.add-to-cart-button-container {
  align-self: stretch;
  padding: 0 var(--padding-6xs) 0 var(--padding-12xs);
}
.frame-child27,
.thm-vo-gi4 {
  height: 39px;
  position: relative;
}
.frame-child27 {
  width: 210px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  display: none;
}
.thm-vo-gi4 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.add-to-cart-actions,
.rectangle-parent21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent21 {
  align-self: stretch;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  white-space: nowrap;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.add-to-cart-actions {
  position: absolute;
  top: 0;
  left: 187px;
  width: 210px;
  flex-direction: column;
  gap: var(--gap-14xl);
}
.size-info {
  width: 501px;
  height: 180px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-family: var(--font-arial);
}
.o-3-l-mixi-bl05-parent,
.product-information1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.o-3-l-mixi-bl05-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.product-information1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  min-width: 396px;
  font-size: var(--font-size-lg);
}
.frame-wrapper2,
.navigation-path-container-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.navigation-path-container-parent {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-75xl);
}
.frame-wrapper2 {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.thng-tin-b5 {
  height: 22px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.heading-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.line-27-stroke5 {
  height: 2px;
  width: 86px;
  position: relative;
}
.line-27-stroke-wrapper2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.nh-gi-44 {
  align-self: stretch;
  height: 22px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.heading-items1,
.review-heading {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-items1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.review-heading {
  width: 285px;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.nh-gi-cho4 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  white-space: pre-wrap;
  max-width: 100%;
}
.male-user-icon16,
.pngtreeshiny-yellow-star-icon140 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon140 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon141 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon141,
.pngtreeshiny-yellow-star-icon142,
.pngtreeshiny-yellow-star-icon143,
.pngtreeshiny-yellow-star-icon144 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon143,
.pngtreeshiny-yellow-star-icon144 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon144 {
  z-index: 2;
}
.pngtreeshiny-yellow-star-icon-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hng-14-container4,
.o-p-xut4 {
  position: relative;
  letter-spacing: 0.08em;
}
.hng-14-container4 {
  width: 199px;
  display: inline-block;
}
.o-p-xut4 {
  height: 21px;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.o-p-xut-sc-container {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-wrapper3,
.hng-14-thng-ba2024-parent,
.o-p-xut-sc-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hng-14-thng-ba2024-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frame-wrapper3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.frame-parent19 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xs-4);
}
.frame-parent19,
.reviewer-information,
.reviewer-information-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.reviewer-information-inner {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 242px;
}
.reviewer-information {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.male-user-icon17,
.pngtreeshiny-yellow-star-icon145 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon145 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon146 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon146,
.pngtreeshiny-yellow-star-icon147,
.pngtreeshiny-yellow-star-icon148,
.pngtreeshiny-yellow-star-icon149 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon148,
.pngtreeshiny-yellow-star-icon149 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon149 {
  z-index: 2;
}
.pngtreeshiny-yellow-star-icon-parent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lng-13-container4 {
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
}
.lng-13-thng-ba2024-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.frame-parent20,
.frame-wrapper4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent20 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-2xs-4);
}
.frame-wrapper4 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.male-user-parent {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.reviewer-information-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.cht-vi-siu4 {
  height: 21px;
  width: 369px;
  position: relative;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.cht-vi-siu-thong-mt-mc-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  margin-top: -4px;
}
.frame-parent18,
.review-heading-parent,
.review-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent18 {
  flex: 1;
  flex-direction: column;
}
.review-heading-parent,
.review-list-container {
  align-self: stretch;
}
.review-list-container {
  flex-direction: row;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
}
.review-heading-parent {
  flex-direction: column;
  gap: var(--gap-7xl);
}
.male-user-icon18,
.pngtreeshiny-yellow-star-icon150 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon150 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon151 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon151,
.pngtreeshiny-yellow-star-icon152,
.pngtreeshiny-yellow-star-icon153,
.pngtreeshiny-yellow-star-icon154 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon153,
.pngtreeshiny-yellow-star-icon154 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon154 {
  z-index: 2;
}
.star-icons1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ging-14-container4 {
  position: relative;
  letter-spacing: 0.08em;
}
.reviewer-date,
.star-rating-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.reviewer-date {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.star-rating-container {
  flex-direction: column;
  gap: var(--gap-2xs-4);
}
.phi-ni-l4 {
  height: 21px;
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.review-content11 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.star-rating-container-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.frame-wrapper5,
.male-user-group,
.star-rating-container-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-wrapper5 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 242px;
}
.male-user-group {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.male-user-icon19,
.pngtreeshiny-yellow-star-icon155 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon155 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon156 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon156,
.pngtreeshiny-yellow-star-icon157,
.pngtreeshiny-yellow-star-icon158,
.pngtreeshiny-yellow-star-icon159 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon158,
.pngtreeshiny-yellow-star-icon159 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon159 {
  z-index: 2;
}
.star-ratings5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lc-14-container4 {
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
}
.reviewer-details8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.review-card,
.review-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.review-information {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-2xs-4);
}
.review-card {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.frame-parent22,
.reviewer-avatar1 {
  display: flex;
  justify-content: flex-start;
}
.reviewer-avatar1 {
  width: 281px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-base);
}
.frame-parent22 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.shop-uy-tn4 {
  height: 21px;
  width: 369px;
  position: relative;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.feedback-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
  margin-top: -4px;
}
.frame-parent17,
.frame-parent21 {
  width: 451px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent17 {
  width: 468px;
  align-items: flex-end;
  gap: var(--gap-24xl);
  min-width: 468px;
}
.rating-input-child {
  width: 485px;
  height: 538px;
  position: relative;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.nh-gi-ca9,
.thm-nh-gi4 {
  align-self: stretch;
  height: 31px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.nh-gi-ca9 {
  font-size: var(--font-size-mini);
  z-index: 2;
}
.review-form-fields,
.review-form-title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.review-form-title {
  flex: 1;
  flex-direction: column;
}
.review-form-fields {
  width: 165px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.pngtreeshiny-yellow-star-icon160 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
}
.pngtreeshiny-yellow-star-icon161,
.pngtreeshiny-yellow-star-icon162 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon162 {
  left: 17px;
  z-index: 1;
}
.half-stars {
  height: 18px;
  width: 37.6px;
  position: relative;
}
.pngtreeshiny-yellow-star-icon163 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon164,
.pngtreeshiny-yellow-star-icon165 {
  position: absolute;
  top: 0;
  left: 17px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon165 {
  left: 34px;
  z-index: 2;
}
.three-star-rating1 {
  height: 18px;
  flex: 1;
  position: relative;
}
.star-button-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs-4);
  min-width: 84px;
}
.pngtreeshiny-yellow-star-icon166,
.pngtreeshiny-yellow-star-icon167,
.pngtreeshiny-yellow-star-icon168,
.pngtreeshiny-yellow-star-icon169 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.pngtreeshiny-yellow-star-icon167,
.pngtreeshiny-yellow-star-icon168,
.pngtreeshiny-yellow-star-icon169 {
  z-index: 1;
  margin-left: -2.6px;
}
.pngtreeshiny-yellow-star-icon168,
.pngtreeshiny-yellow-star-icon169 {
  z-index: 2;
}
.pngtreeshiny-yellow-star-icon169 {
  z-index: 3;
}
.four-star-rating2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pngtreeshiny-yellow-star-icon170,
.pngtreeshiny-yellow-star-icon171 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
}
.pngtreeshiny-yellow-star-icon172,
.pngtreeshiny-yellow-star-icon173 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon173 {
  left: 20.6px;
  z-index: 1;
}
.one-star-rating {
  height: 18px;
  width: 41.2px;
  position: relative;
}
.pngtreeshiny-yellow-star-icon174 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
}
.five-star-rating1 {
  flex-direction: row;
}
.five-star-rating1,
.new-review-form,
.star-button-container-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.star-button-container-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base-4);
  z-index: 1;
}
.new-review-form {
  width: 340.1px;
  flex-direction: column;
  gap: var(--gap-2xs);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.comment-box3,
.nhn-xt-ca4 {
  position: relative;
  z-index: 1;
}
.nhn-xt-ca4 {
  width: 159px;
  height: 31px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.comment-box3 {
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
  height: 111px;
  width: auto;
  outline: 0;
  align-self: stretch;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
}
.comment-field1,
.review-input-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.comment-field1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.review-input-area {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) var(--padding-xs) var(--padding-10xs);
  box-sizing: border-box;
}
.email5,
.tn4 {
  height: 31px;
  width: 159px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.contact-labels1 {
  width: 386px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.contact-input-boxes,
.contact-input-boxes1 {
  border: 1px solid var(--color-gray);
  outline: 0;
  background-color: var(--color-white);
  height: 36px;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  min-width: 128px;
  z-index: 1;
}
.contact-details2,
.input-fields8,
.user-information1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields8 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.contact-details2,
.user-information1 {
  max-width: 100%;
}
.contact-details2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.user-information1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-mid) var(--padding-10xs);
  box-sizing: border-box;
}
.checkbox3 {
  margin: 0;
  height: 16px;
  width: 11px;
}
.lu-tn-ca4 {
  position: relative;
  z-index: 1;
}
.checkbox-field,
.checkbox-option2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.checkbox-option2 {
  flex: 1;
  gap: var(--gap-smi);
}
.checkbox-field {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.ny-cho-ln4 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.checkbox-explanation {
  width: 388px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.submit-button-area-child {
  height: 36px;
  width: 87px;
  position: relative;
  background-color: var(--color-teal-200);
  display: none;
}
.gi-i4 {
  height: 32px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.checkbox-container1,
.submit-button-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit-button-area {
  width: 87px;
  background-color: var(--color-teal-200);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-11xs) var(--padding-12xs);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  color: var(--color-white);
}
.checkbox-container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs-5);
  max-width: 100%;
}
.rating-input-wrapper,
.rating-input1,
.remember-me3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.remember-me3 {
  width: 418px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.rating-input-wrapper,
.rating-input1 {
  flex-direction: column;
}
.rating-input1 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-7xl) var(--padding-51xl);
  gap: var(--gap-6xs);
}
.rating-input-wrapper {
  width: 485px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  min-width: 485px;
  font-size: var(--font-size-mini);
}
.frame-parent16 {
  width: 1190px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
}
.chi-tit-o-ba-l-boongminz-inner,
.frame-parent12 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent12 {
  width: 1251px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-39xl);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.chi-tit-o-ba-l-boongminz-inner {
  width: 1417px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-22xl);
  box-sizing: border-box;
}
.line-3-stroke7 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next-page-icon7 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
}
.v-chng-ti15 {
  letter-spacing: 0.01em;
}
.v-chng-ti14 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line36 {
  letter-spacing: 0.01em;
}
.blank-line35 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc7 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container7 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
  z-index: 1;
}
.h-tr7 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.h-tr-wrapper {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line37,
.blank-line38 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line38 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc7 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t7 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram15 {
  font-weight: 300;
}
.fanpage-v-instagram14 {
  margin: 0;
}
.mi-thc-mc-container7 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.support-links {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm7 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line39 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container7 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.product-category-header2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi24 {
  margin-bottom: 10px;
}
.o-mixi23 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi22 {
  flex: 1;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  z-index: 3;
}
.mixi-clothing {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l26 {
  margin-bottom: 10px;
}
.o-ba-l25 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container7 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.lu-nim-mixi28 {
  margin-bottom: 10px;
}
.lu-nim-mixi27 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container17 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.o-refund-gaming8 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container7 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.o-csgo16 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo15 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.o-pubg16 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg15 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.product-links5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin15 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin14 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.information-header4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu15 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu14 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.chnh-sch-bo-mt7 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container7 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.iu-khon15 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon14 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.sitemap15 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap14 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.company-information,
.product-categories5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.company-information {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.product-categories5 {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.website-info {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.footer-navigation2,
.line-4-stroke7 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.footer-navigation2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke7 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-20247 {
  font-weight: 300;
}
.copyright-2024-container7 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright-notice2 {
  width: 364px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.copyright-area {
  width: 1288px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  font-size: var(--font-size-2xl);
}
.copyright-area,
.footer-content7,
.footer6 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-content7 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.footer6 {
  width: 1408px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.chi-tit-o-ba-l-boongminz,
.page-divider {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.page-divider {
  align-self: stretch;
  gap: var(--gap-16xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.chi-tit-o-ba-l-boongminz {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 var(--padding-12xs-5);
  box-sizing: border-box;
  gap: var(--gap-22xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .tt-c-menu7 {
    padding-left: var(--padding-137xl);
    padding-right: var(--padding-137xl);
    box-sizing: border-box;
  }
  .chi-tit-o-ba-l-boongminz-inner {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .navigation-path-container {
    flex: 1;
  }
  .navigation-path-container-parent {
    flex-wrap: wrap;
  }
  .frame-parent17,
  .rating-input-wrapper {
    flex: 1;
  }
  .frame-parent16 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .tt-c-menu7 {
    gap: var(--gap-7xl);
    padding-left: var(--padding-59xl);
    padding-right: var(--padding-59xl);
    box-sizing: border-box;
  }
  .navigation-path-container {
    gap: var(--gap-5xl);
    min-width: 100%;
  }
  .product-information1 {
    min-width: 100%;
  }
  .navigation-path-container-parent {
    gap: var(--gap-28xl);
  }
  .frame-parent17 {
    gap: var(--gap-2xl);
    min-width: 100%;
  }
  .rating-input1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .rating-input-wrapper {
    min-width: 100%;
  }
  .frame-parent12 {
    gap: var(--gap-10xl);
  }
  .chi-tit-o-ba-l-boongminz-inner {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .website-info {
    height: auto;
    min-height: 350;
  }
  .page-divider {
    gap: var(--gap-lg);
  }
  .chi-tit-o-ba-l-boongminz {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .tt-c-menu7 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .b7,
  .o-3-l6 {
    font-size: var(--font-size-3xl);
  }
  .navigation-path-container-parent {
    gap: var(--gap-4xl);
  }
  .nh-gi-cho4 {
    font-size: var(--font-size-base);
  }
  .reviewer-information {
    flex-wrap: wrap;
  }
  .reviewer-information-parent {
    gap: var(--gap-2xl);
  }
  .male-user-group {
    flex-wrap: wrap;
  }
  .frame-parent22 {
    gap: var(--gap-2xl);
  }
  .thm-nh-gi4 {
    font-size: var(--font-size-base);
  }
  .contact-labels1,
  .input-fields8,
  .star-button-container-parent {
    flex-wrap: wrap;
  }
  .danh-mc-sn-container7,
  .h-tr7 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container17,
  .o-ba-l-container7,
  .o-csgo15,
  .o-mixi22,
  .o-pubg15,
  .o-refund-gaming-container7 {
    font-size: var(--font-size-mid);
  }
  .thng-tin14 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container7,
  .gii-thiu14,
  .iu-khon14,
  .sitemap14 {
    font-size: var(--font-size-mid);
  }
  .company-information {
    margin-left: 0;
  }
  .copyright-2024-container7 {
    font-size: var(--font-size-mid);
  }
}
