.home6 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  font-weight: 800;
  display: inline-block;
}
.home-frame,
.navigation-container-inner,
.navigation-container2 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-frame {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.navigation-container-inner,
.navigation-container2 {
  overflow: hidden;
}
.navigation-container-inner {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.navigation-container2 {
  height: 23px;
  width: 45px;
  z-index: 1;
}
.hinh-nen-trang-dien-thoai-55-1-icon6 {
  position: absolute;
  top: -320px;
  left: 0;
  width: 1440px;
  height: 674px;
  object-fit: cover;
}
.logo-mixi-tt-1-icon6,
.paper-bag-icon6 {
  position: absolute;
  top: 24px;
  left: 1293px;
  width: 35px;
  height: 35px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.logo-mixi-tt-1-icon6 {
  top: 17px;
  left: 40px;
  width: 90px;
  height: 54px;
}
.login-icon6,
.login-wrapper1 {
  position: absolute;
  overflow: hidden;
}
.login-icon6 {
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.login-wrapper1 {
  top: 15px;
  left: 1357px;
  width: 52px;
  height: 52px;
  z-index: 1;
}
.hinh-nen-trang-dien-thoai-55-1-group {
  height: 354px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -266px;
  left: 0;
}
.danh-mc-sn7 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.danh-mc-sn-phm-frame,
.product-header1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-mc-sn-phm-frame {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.product-header1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.thng-bo6 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.main-content2 {
  height: 36px;
  width: 398px;
  position: relative;
  max-width: 100%;
}
.tt-c-menu6 {
  align-self: stretch;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) var(--padding-293xl) var(--padding-lg);
  position: sticky;
  gap: var(--gap-33xl);
  top: 0;
  z-index: 99;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.trang-ch4 {
  display: inline-block;
  min-width: 69px;
}
.ca-hng4,
.o-ba-l19,
.trang-ch4 {
  position: relative;
  cursor: pointer;
}
.ca-hng4 {
  display: inline-block;
  min-width: 69px;
  z-index: 1;
}
.o-ba-l19 {
  flex: 1;
  z-index: 2;
}
.navigation-path {
  width: 207px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-image-icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.navigation-details {
  height: 869px;
  width: 537px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  min-width: 537px;
  max-width: 100%;
}
.o-3-l5 {
  margin: 0;
  width: 307px;
  height: 50px;
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.rating-divider {
  width: 99px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.nh-gi-ca6 {
  align-self: stretch;
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.ratings {
  width: 292px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-teal-200);
}
.b6,
.bng-size-chi3 {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.b6 {
  width: 564px;
  height: 50px;
  font-size: var(--font-size-9xl);
  max-width: 100%;
}
.bng-size-chi3 {
  width: 158px;
  height: 34px;
}
.size-3-lo-1400x800-1-icon3 {
  height: 370px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.size-chart {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child18 {
  height: 33px;
  width: 91px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
}
.xl3 {
  height: 26px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 410px;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  width: 91px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
}
.size-ba-l3 {
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 105px;
}
.measurements-child {
  height: 39px;
  width: 103px;
  position: relative;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-shrink: 0;
  display: none;
}
.chest-measurement {
  align-self: stretch;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.chest-value {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.divider1 {
  height: 40px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.chest {
  height: 39px;
  width: 20px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.length-measurement {
  align-self: stretch;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 1;
}
.length {
  width: 17px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.sleeve-divider {
  height: 40px;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.sleeve-value {
  align-self: stretch;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  z-index: 2;
}
.sleeve-measurement {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
}
.measurements,
.sleeve {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}
.sleeve {
  height: 39px;
  width: 18px;
  flex-shrink: 0;
}
.measurements {
  border-radius: var(--br-lgi-5);
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-black);
  overflow-x: auto;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
  gap: var(--gap-lg-5);
}
.danh-mc3 {
  margin-right: -5px;
  width: 105px;
  height: 34px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.danh-mc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.o-ba-l20 {
  height: 34px;
  position: relative;
  color: var(--color-teal-200);
  display: flex;
  align-items: center;
  min-width: 89px;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
}
.frame-parent9,
.size-ba-l-group,
.size-chart-details1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}
.size-ba-l-group,
.size-chart-details1 {
  flex-direction: column;
  gap: var(--gap-22xl);
  text-align: center;
}
.size-ba-l-group {
  position: absolute;
  top: 0;
  left: 0;
  gap: var(--gap-13xl);
  text-align: left;
  font-family: var(--font-inter);
}
.frame-child19 {
  height: 33px;
  width: 91px;
  position: relative;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
}
.m3 {
  height: 26px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.frame-child20,
.rectangle-parent14 {
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
}
.rectangle-parent14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
}
.frame-child20 {
  height: 33px;
  width: 91px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.l3 {
  height: 26px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangle-parent15 {
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  padding: var(--padding-10xs) var(--padding-6xs) var(--padding-9xs)
    var(--padding-5xs);
}
.button-container1,
.frame-parent10,
.rectangle-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent10 {
  flex: 1;
  gap: var(--gap-xl);
}
.button-container1 {
  align-self: stretch;
  padding: 0 var(--padding-6xs) 0 var(--padding-12xs);
}
.frame-child21,
.thm-vo-gi3 {
  height: 39px;
  position: relative;
}
.frame-child21 {
  width: 210px;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  display: none;
}
.thm-vo-gi3 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.add-to-cart1,
.rectangle-parent16 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent16 {
  align-self: stretch;
  border-radius: var(--br-lgi-5);
  background-color: var(--color-orangered);
  flex-direction: row;
  padding: 0 var(--padding-4xs);
  white-space: nowrap;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.add-to-cart1 {
  position: absolute;
  top: 0;
  left: 187px;
  width: 210px;
  flex-direction: column;
  gap: var(--gap-14xl);
}
.size-selection3 {
  width: 501px;
  height: 180px;
  position: relative;
  max-width: 100%;
  text-align: center;
  font-family: var(--font-arial);
}
.o-3-l-mixi-bl03-parent,
.product-info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.o-3-l-mixi-bl03-parent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.product-info2 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  min-width: 396px;
  font-size: var(--font-size-lg);
}
.product-navigation,
.product-navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.product-navigation {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-75xl);
}
.product-navigation-wrapper {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-3xs);
  box-sizing: border-box;
}
.thng-tin-b4 {
  height: 22px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.info-headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.line-27-stroke4 {
  height: 2px;
  width: 86px;
  position: relative;
}
.line-27-stroke-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
}
.nh-gi-43 {
  align-self: stretch;
  height: 22px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.info-headers-parent,
.info-headers1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-headers1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.info-headers-parent {
  width: 285px;
  flex-direction: row;
  gap: var(--gap-2xs);
}
.nh-gi-cho3 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  white-space: pre-wrap;
  max-width: 100%;
}
.male-user-icon12,
.pngtreeshiny-yellow-star-icon105 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon105 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon106 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon106,
.pngtreeshiny-yellow-star-icon107 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon108 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon108,
.pngtreeshiny-yellow-star-icon109 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.star-ratings2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hng-14-container3,
.o-p-xut3 {
  position: relative;
  letter-spacing: 0.08em;
}
.hng-14-container3 {
  width: 199px;
  display: inline-block;
}
.o-p-xut3 {
  height: 21px;
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.review-comment2 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.date-details,
.review-comment2,
.review-date6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.date-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.review-date6 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.rating {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-2xs-4);
}
.rating,
.review-content5,
.user-avatar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-content5 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 242px;
}
.user-avatar {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.male-user-icon13,
.pngtreeshiny-yellow-star-icon110 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon110 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon111 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon111,
.pngtreeshiny-yellow-star-icon112 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon113 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon113,
.pngtreeshiny-yellow-star-icon114 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.star-ratings3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lng-13-container3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
}
.review-date7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.rating1,
.review-content6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rating1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-2xs-4);
}
.review-content6 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.review-item-b {
  width: 281px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.reviewer-details6 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-24xl);
}
.cht-vi-siu3,
.comment1,
.reviewer-details6 {
  display: flex;
  max-width: 100%;
}
.cht-vi-siu3 {
  height: 21px;
  width: 369px;
  position: relative;
  letter-spacing: 0.08em;
  align-items: center;
  flex-shrink: 0;
}
.comment1 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -4px;
}
.frame-parent11,
.review-item-a,
.review-list4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-item-a {
  flex: 1;
  flex-direction: column;
}
.frame-parent11,
.review-list4 {
  align-self: stretch;
}
.review-list4 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-mid);
  box-sizing: border-box;
}
.frame-parent11 {
  flex-direction: column;
  gap: var(--gap-7xl);
}
.male-user-icon14,
.pngtreeshiny-yellow-star-icon115 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon115 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon116 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon116,
.pngtreeshiny-yellow-star-icon117 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon118 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon118,
.pngtreeshiny-yellow-star-icon119 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.stars-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.ging-14-container3 {
  position: relative;
  letter-spacing: 0.08em;
}
.review-date8,
.review-rating8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.review-date8 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.review-rating8 {
  flex-direction: column;
  gap: var(--gap-2xs-4);
}
.phi-ni-l3 {
  height: 21px;
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.review-content8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  max-width: 100%;
}
.rating2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.rating2,
.review-content7,
.user-avatar1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.review-content7 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 242px;
}
.user-avatar1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.male-user-icon15,
.pngtreeshiny-yellow-star-icon120 {
  height: 62px;
  width: 62px;
  position: relative;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon120 {
  height: 14.6px;
  width: 16.7px;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon121 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon121,
.pngtreeshiny-yellow-star-icon122 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.pngtreeshiny-yellow-star-icon123 {
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon123,
.pngtreeshiny-yellow-star-icon124 {
  height: 14.6px;
  width: 16.7px;
  position: relative;
  object-fit: cover;
  min-height: 15px;
}
.review-date9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.lc-14-container3 {
  flex: 1;
  position: relative;
  letter-spacing: 0.08em;
}
.review-content9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.five-stars1,
.stars-icon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.five-stars1 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-2xs-4);
}
.stars-icon1 {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.reviewer-avatar,
.reviewer-details7 {
  display: flex;
  justify-content: flex-start;
}
.reviewer-avatar {
  width: 281px;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-base);
}
.reviewer-details7 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
}
.shop-uy-tn3 {
  height: 21px;
  width: 369px;
  position: relative;
  letter-spacing: 0.08em;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.information1,
.review-content10,
.review-item-c {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.review-content10 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -4px;
}
.information1,
.review-item-c {
  width: 451px;
  flex-direction: column;
  justify-content: flex-start;
}
.information1 {
  width: 468px;
  align-items: flex-end;
  gap: var(--gap-24xl);
  min-width: 468px;
}
.review-form-item {
  width: 485px;
  height: 538px;
  position: relative;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.nh-gi-ca7,
.thm-nh-gi3 {
  align-self: stretch;
  height: 31px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.nh-gi-ca7 {
  font-size: var(--font-size-mini);
  z-index: 2;
}
.rating-title1,
.star-ratings4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rating-title1 {
  flex: 1;
  flex-direction: column;
}
.star-ratings4 {
  width: 165px;
  flex-direction: row;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
}
.pngtreeshiny-yellow-star-icon125 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
}
.pngtreeshiny-yellow-star-icon126,
.pngtreeshiny-yellow-star-icon127 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon127 {
  left: 17px;
  z-index: 1;
}
.two-stars1 {
  height: 18px;
  width: 37.6px;
  position: relative;
}
.pngtreeshiny-yellow-star-icon128 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
}
.pngtreeshiny-yellow-star-icon129,
.pngtreeshiny-yellow-star-icon130 {
  position: absolute;
  top: 0;
  left: 17px;
  width: 20.6px;
  height: 18px;
  object-fit: cover;
  z-index: 1;
}
.pngtreeshiny-yellow-star-icon130 {
  left: 34px;
  z-index: 2;
}
.three-stars1 {
  height: 18px;
  flex: 1;
  position: relative;
}
.rating-option {
  flex: 0.9263;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-4xs-4);
  min-width: 71px;
}
.pngtreeshiny-yellow-star-icon131,
.pngtreeshiny-yellow-star-icon132,
.pngtreeshiny-yellow-star-icon133,
.pngtreeshiny-yellow-star-icon134 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.pngtreeshiny-yellow-star-icon132,
.pngtreeshiny-yellow-star-icon133,
.pngtreeshiny-yellow-star-icon134 {
  z-index: 1;
  margin-left: -2.6px;
}
.pngtreeshiny-yellow-star-icon133,
.pngtreeshiny-yellow-star-icon134 {
  z-index: 2;
}
.pngtreeshiny-yellow-star-icon134 {
  z-index: 3;
}
.four-stars1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.pngtreeshiny-yellow-star-icon135,
.pngtreeshiny-yellow-star-icon136,
.pngtreeshiny-yellow-star-icon137,
.pngtreeshiny-yellow-star-icon138,
.pngtreeshiny-yellow-star-icon139 {
  height: 18px;
  width: 20.6px;
  position: relative;
  object-fit: cover;
  min-height: 18px;
}
.five-stars2,
.pngtreeshiny-yellow-star-icon-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.five-stars2 {
  flex: 1;
  justify-content: flex-start;
  min-width: 101px;
}
.pngtreeshiny-yellow-star-icon-parent8 {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-4xs-4);
  z-index: 1;
}
.star-ratings-parent {
  width: 340.1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.nhn-xt-ca3 {
  width: 159px;
  height: 31px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.comment-field {
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
  height: 111px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  z-index: 1;
}
.comment-box2,
.review-input3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.comment-box2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.review-input3 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-8xs) var(--padding-xs) var(--padding-10xs);
  box-sizing: border-box;
}
.email4,
.tn3 {
  height: 31px;
  width: 159px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.contact-labels {
  width: 386px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.name-email-input1,
.name-email-input2 {
  border: 1px solid var(--color-gray);
  outline: 0;
  background-color: var(--color-white);
  height: 36px;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  min-width: 128px;
  z-index: 1;
}
.contact-fields,
.contact-info,
.input-fields7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-fields7 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xl);
}
.contact-fields,
.contact-info {
  max-width: 100%;
}
.contact-fields {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-12xs);
}
.contact-info {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs) var(--padding-mid) var(--padding-10xs);
  box-sizing: border-box;
}
.checkbox-mark {
  margin: 0;
  height: 16px;
  width: 11px;
}
.lu-tn-ca3 {
  position: relative;
  z-index: 1;
}
.checkbox-content,
.checkbox-mark-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.checkbox-mark-parent {
  flex: 1;
  gap: var(--gap-smi);
}
.checkbox-content {
  align-self: stretch;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
}
.ny-cho-ln3 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.checkbox-description1 {
  width: 388px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.submit-button-inner {
  height: 36px;
  width: 87px;
  position: relative;
  background-color: var(--color-teal-200);
  display: none;
}
.gi-i3 {
  height: 32px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.checkbox2,
.submit-button3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.submit-button3 {
  width: 87px;
  background-color: var(--color-teal-200);
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-11xs) var(--padding-12xs);
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  text-align: center;
  color: var(--color-white);
}
.checkbox2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs-5);
  max-width: 100%;
}
.add-review,
.checkbox-option1,
.review-form2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.checkbox-option1 {
  width: 418px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
}
.add-review,
.review-form2 {
  flex-direction: column;
}
.review-form2 {
  align-self: stretch;
  background-color: var(--color-white);
  border: 2px solid var(--color-teal-200);
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-7xl) var(--padding-51xl);
  gap: var(--gap-6xs);
}
.add-review {
  width: 485px;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs);
  min-width: 485px;
  font-size: var(--font-size-mini);
}
.additional-information1 {
  width: 1190px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
}
.content-container1,
.frame-parent8 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent8 {
  width: 1251px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-39xl);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.content-container1 {
  width: 1417px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-22xl);
  box-sizing: border-box;
}
.line-3-stroke6 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next-page-icon6 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
}
.v-chng-ti13 {
  letter-spacing: 0.01em;
}
.v-chng-ti12 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line31 {
  letter-spacing: 0.01em;
}
.blank-line30 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc6 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container6 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
  z-index: 1;
}
.h-tr6 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.support-heading {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line32,
.blank-line33 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line33 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc6 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t6 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram13 {
  font-weight: 300;
}
.fanpage-v-instagram12 {
  margin: 0;
}
.mi-thc-mc-container6 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.footer-support {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm6 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line34 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container6 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.category-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi21 {
  margin-bottom: 10px;
}
.o-mixi20 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi19 {
  flex: 1;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  z-index: 3;
}
.product-category {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l22 {
  margin-bottom: 10px;
}
.o-ba-l21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container6 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.lu-nim-mixi26 {
  margin-bottom: 10px;
}
.lu-nim-mixi25 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container16 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.o-refund-gaming7 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container6 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.o-csgo14 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo13 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.o-pubg14 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg13 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.product-categories4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin13 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin12 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.info-heading {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu13 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu12 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.chnh-sch-bo-mt6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container6 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.iu-khon13 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon12 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.sitemap13 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap12 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.product-links4,
.site-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.site-links {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.product-links4 {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.footer-info2 {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.footer-navigation1,
.line-4-stroke6 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.footer-navigation1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke6 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-20246 {
  font-weight: 300;
}
.copyright-2024-container6 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright-notice1 {
  width: 364px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.line-4-stroke-container {
  width: 1288px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  font-size: var(--font-size-2xl);
}
.footer-content6,
.footer-navigation-parent,
.line-4-stroke-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.footer-navigation-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-content6 {
  width: 1408px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.chi-tit-o-ba-l-ben,
.footer-divider1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.footer-divider1 {
  align-self: stretch;
  gap: var(--gap-16xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.chi-tit-o-ba-l-ben {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 var(--padding-12xs-5);
  box-sizing: border-box;
  gap: var(--gap-22xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .tt-c-menu6 {
    padding-left: var(--padding-137xl);
    padding-right: var(--padding-137xl);
    box-sizing: border-box;
  }
  .content-container1 {
    padding-bottom: var(--padding-8xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .navigation-details {
    flex: 1;
  }
  .product-navigation {
    flex-wrap: wrap;
  }
  .add-review,
  .information1 {
    flex: 1;
  }
  .additional-information1 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .tt-c-menu6 {
    gap: var(--gap-7xl);
    padding-left: var(--padding-59xl);
    padding-right: var(--padding-59xl);
    box-sizing: border-box;
  }
  .navigation-details {
    gap: var(--gap-5xl);
    min-width: 100%;
  }
  .product-info2 {
    min-width: 100%;
  }
  .product-navigation {
    gap: var(--gap-28xl);
  }
  .information1 {
    gap: var(--gap-2xl);
    min-width: 100%;
  }
  .review-form2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-26xl);
    box-sizing: border-box;
  }
  .add-review {
    min-width: 100%;
  }
  .frame-parent8 {
    gap: var(--gap-10xl);
  }
  .content-container1 {
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer-info2 {
    height: auto;
    min-height: 350;
  }
  .footer-divider1 {
    gap: var(--gap-lg);
  }
  .chi-tit-o-ba-l-ben {
    gap: var(--gap-xl);
  }
}
@media screen and (max-width: 450px) {
  .tt-c-menu6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .b6,
  .o-3-l5 {
    font-size: var(--font-size-3xl);
  }
  .product-navigation {
    gap: var(--gap-4xl);
  }
  .nh-gi-cho3 {
    font-size: var(--font-size-base);
  }
  .user-avatar {
    flex-wrap: wrap;
  }
  .reviewer-details6 {
    gap: var(--gap-2xl);
  }
  .user-avatar1 {
    flex-wrap: wrap;
  }
  .reviewer-details7 {
    gap: var(--gap-2xl);
  }
  .thm-nh-gi3 {
    font-size: var(--font-size-base);
  }
  .rating-option {
    flex: 1;
  }
  .contact-labels,
  .input-fields7,
  .pngtreeshiny-yellow-star-icon-parent8 {
    flex-wrap: wrap;
  }
  .danh-mc-sn-container6,
  .h-tr6 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container16,
  .o-ba-l-container6,
  .o-csgo13,
  .o-mixi19,
  .o-pubg13,
  .o-refund-gaming-container6 {
    font-size: var(--font-size-mid);
  }
  .thng-tin12 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container6,
  .gii-thiu12,
  .iu-khon12,
  .sitemap12 {
    font-size: var(--font-size-mid);
  }
  .site-links {
    margin-left: 0;
  }
  .copyright-2024-container6 {
    font-size: var(--font-size-mid);
  }
}
