.hinh-nen-trang-dien-thoai-55-1-icon10 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-mixi-tt-1-icon10 {
  width: 90px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.header-logo {
  align-self: stretch;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home10 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  font-weight: 800;
  display: inline-block;
}
.home-button,
.navigation-links6,
.navigation4 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-button {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.navigation-links6,
.navigation4 {
  overflow: hidden;
}
.navigation4 {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.navigation-links6 {
  align-self: stretch;
  height: 23px;
  z-index: 1;
}
.header-menu-area {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.danh-mc-sn12 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.product-categories-title,
.product-categories6 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-categories-title {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.product-categories6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.thng-bo10 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.product-category1 {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.product-category-wrapper {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.header-logo-area,
.header-navigation {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header-logo-area {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-33xl);
}
.header-navigation {
  width: 767px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.paper-bag-icon10 {
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.login-icon10 {
  position: absolute;
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.user-account {
  height: 52px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.user-actions3 {
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.o-pubg22,
.tt-c-menu10 {
  display: flex;
  flex-shrink: 0;
}
.tt-c-menu10 {
  align-self: stretch;
  height: 88px;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-12xl) var(--padding-mid)
    var(--padding-21xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.o-pubg22 {
  width: 98px;
  height: 29px;
  position: relative;
  align-items: center;
}
.ca-hng8,
.trang-ch8 {
  position: relative;
  display: inline-block;
  min-width: 69px;
  cursor: pointer;
}
.ca-hng8 {
  z-index: 1;
}
.o-pubg23 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.navigation-breadcrumb {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.danh-mc-sn13 {
  position: relative;
}
.product-category-list-child {
  width: 24px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.product-category-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.o-ba-l34,
.o-csgo31 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.o-ba-l34 {
  min-width: 61px;
}
.o-csgo31 {
  width: 72px;
}
.o-mixi32 {
  width: 61px;
  cursor: pointer;
}
.lu-nim-mixi34,
.o-mixi32,
.o-pubg24,
.o-refund-gaming12 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.o-pubg24 {
  font-size: var(--font-size-sm);
  color: var(--color-black);
  min-width: 68px;
}
.lu-nim-mixi34,
.o-refund-gaming12 {
  cursor: pointer;
}
.lu-nim-mixi34 {
  min-width: 119px;
}
.filter-bar {
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.product-images-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg25 {
  margin: 0;
  font-weight: 300;
}
.o-logo-pubg {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p17 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-detail-pair-one {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-images-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg26 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-shotgun {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p18 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container1 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-item-pair-two {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.dob-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg27 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-m {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p19 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container2 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-item-pair-one,
.product-item-pair-three {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-item-pair-three {
  flex: 1;
  gap: var(--gap-8xs);
}
.product-item-pair-one {
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-xs);
}
.component-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg28 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-u {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p20 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container3 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.component-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.last-of-ssn {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg29 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-m1 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p21 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container4 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.last-of-ssn-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.mrn-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg30 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-m2 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p22 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container5 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.mrn-parent,
.product-item-pair-one1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.mrn-parent {
  flex: 1;
  gap: var(--gap-8xs);
}
.product-item-pair-one1 {
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-xs);
}
.product-images-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg31 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-uzi {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p23 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container6 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-item-pair-four {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-item-pair-four-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-pubg32 {
  margin: 0;
  font-weight: 300;
}
.o-pubg-pochinki {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p24 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-pubg-o-container7 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-item-pair-four1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.product-grid2,
.product-item-pair-four1,
.product-row-one,
.product-row-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-row-two {
  height: 733px;
  width: 230px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.product-grid2,
.product-row-one {
  max-width: 100%;
}
.product-row-one {
  width: 714px;
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-xs);
}
.product-grid2 {
  height: 1143px;
  flex-direction: column;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.breadcrumb-bar {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  font-size: var(--font-size-smi);
  color: var(--color-teal-200);
}
.breadcrumb-bar,
.content-area1,
.product-display {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.product-display {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.content-area1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-54xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-3-stroke10 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content-footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl-5);
  box-sizing: border-box;
  max-width: 100%;
}
.next-page-icon10 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.v-chng-ti21 {
  letter-spacing: 0.01em;
}
.v-chng-ti20 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line51 {
  letter-spacing: 0.01em;
}
.blank-line50 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc10 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container10 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
}
.h-tr10 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.support-header4 {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line52,
.blank-line53 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line53 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc10 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t10 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram21 {
  font-weight: 300;
}
.fanpage-v-instagram20 {
  margin: 0;
}
.mi-thc-mc-container10 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
}
.support-header-parent1 {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm10 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line54 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container10 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.category-title-area {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi35 {
  margin-bottom: 10px;
}
.o-mixi34 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi33 {
  flex: 1;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  z-index: 2;
}
.featured-category {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l36 {
  margin-bottom: 10px;
}
.o-ba-l35 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container10 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.lu-nim-mixi36 {
  margin-bottom: 10px;
}
.lu-nim-mixi35 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container20 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.o-refund-gaming13 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container10 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-csgo33 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo32 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-pubg34 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg33 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.product-categories-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin21 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin20 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.information2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu20 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chnh-sch-bo-mt10 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container10 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.iu-khon21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon20 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sitemap21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap20 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.navigation-links-footer,
.product-categories-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.navigation-links-footer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.product-categories-footer {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.about-us2 {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.line-4-stroke10,
.pagination-and-about {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.pagination-and-about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke10 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-202410 {
  font-weight: 300;
}
.copyright-2024-container10 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright1,
.footer-content10,
.page-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright1 {
  width: 364px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.footer-content10,
.page-footer {
  flex-direction: column;
}
.page-footer {
  width: 1288px;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-content10 {
  flex: 1;
}
.footer7,
.shop-o-pubg {
  display: flex;
  box-sizing: border-box;
}
.footer7 {
  width: 1408px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.shop-o-pubg {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs-5);
  gap: var(--gap-4xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .content-area1 {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .breadcrumb-bar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .breadcrumb-bar {
    gap: var(--gap-lgi);
  }
  .content-area1 {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .about-us2 {
    height: auto;
    min-height: 350;
  }
}
@media screen and (max-width: 450px) {
  .header-logo-area {
    gap: var(--gap-7xl);
  }
  .danh-mc-sn-container10,
  .h-tr10 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container20,
  .o-ba-l-container10,
  .o-csgo32,
  .o-mixi33,
  .o-pubg33,
  .o-refund-gaming-container10 {
    font-size: var(--font-size-mid);
  }
  .thng-tin20 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container10,
  .gii-thiu20,
  .iu-khon20,
  .sitemap20 {
    font-size: var(--font-size-mid);
  }
  .navigation-links-footer {
    margin-left: 0;
  }
  .copyright-2024-container10 {
    font-size: var(--font-size-mid);
  }
}
