.hinh-nen-trang-dien-thoai-55-1-icon12 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-mixi-tt-1-icon12 {
  width: 90px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.logo-mixi-tt-1-frame {
  align-self: stretch;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home12 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  font-weight: 800;
  display: inline-block;
}
.frame-wrapper9,
.home-button-container-container,
.home-button-container3 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-button-container3 {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.frame-wrapper9,
.home-button-container-container {
  overflow: hidden;
}
.home-button-container-container {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.frame-wrapper9 {
  align-self: stretch;
  height: 23px;
  z-index: 1;
}
.logo-container-inner {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.danh-mc-sn16 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.categories-button-container,
.danh-mc-sn-phm-wrapper5 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-mc-sn-phm-wrapper5 {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.categories-button-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.thng-bo12 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.categories-button-container-parent {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.logo-container-child {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.logo-container-wrapper,
.logo-container1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.logo-container1 {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-33xl);
}
.logo-container-wrapper {
  width: 767px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.paper-bag-icon12 {
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.paper-bag-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.login-icon12 {
  position: absolute;
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.login-wrapper3 {
  height: 52px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.frame-parent34,
.tt-c-menu12 {
  display: flex;
  flex-direction: row;
}
.frame-parent34 {
  width: 116px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.tt-c-menu12 {
  align-self: stretch;
  height: 88px;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-12xl) var(--padding-mid)
    var(--padding-21xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.o-refund-gaming16 {
  height: 29px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch10 {
  min-width: 69px;
  cursor: pointer;
}
.ca-hng10,
.o-refund-gaming17,
.trang-ch10 {
  position: relative;
  display: inline-block;
}
.ca-hng10 {
  min-width: 69px;
  cursor: pointer;
  z-index: 1;
}
.o-refund-gaming17 {
  min-width: 107px;
  z-index: 2;
}
.trang-ch-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.danh-mc-sn17,
.frame-child36 {
  position: relative;
}
.frame-child36 {
  width: 24px;
  height: 2px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.danh-mc-sn-phm-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.o-ba-l50,
.o-csgo37,
.o-mixi40 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.o-ba-l50 {
  min-width: 61px;
}
.o-csgo37,
.o-mixi40 {
  width: 72px;
}
.o-mixi40 {
  width: 61px;
}
.o-pubg38 {
  min-width: 68px;
  cursor: pointer;
}
.lu-nim-mixi40,
.o-pubg38,
.o-refund-gaming18 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.o-refund-gaming18 {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.lu-nim-mixi40 {
  min-width: 119px;
  cursor: pointer;
}
.frame-parent35 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 159px;
}
.product-image-icon11 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-refund-gaming19 {
  margin: 0;
  font-weight: 300;
}
.o-refund-gaming20 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p32 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-refund-gaming-container12 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-display1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.hero-navigation,
.product-display1,
.product-showcase {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-showcase {
  height: 397px;
  width: 230px;
  flex-direction: column;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  min-width: 230px;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.hero-navigation {
  align-self: stretch;
  flex-direction: row;
  row-gap: 20px;
  font-size: var(--font-size-smi);
  color: var(--color-teal-200);
}
.hero-content {
  width: 475px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.hero-banner,
.hero-content,
.main-container1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.hero-banner {
  width: 955px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.main-container1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-3-stroke12 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.next-page-icon12 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.v-chng-ti25 {
  letter-spacing: 0.01em;
}
.v-chng-ti24 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line61 {
  letter-spacing: 0.01em;
}
.blank-line60 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc12 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container12 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
}
.h-tr12 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.h-tr-frame {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line62,
.blank-line63 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line63 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc12 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t12 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram25 {
  font-weight: 300;
}
.fanpage-v-instagram24 {
  margin: 0;
}
.mi-thc-mc-container12 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent37 {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm12 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line64 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container12 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.danh-mc-sn-phm-wrapper6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi43 {
  margin-bottom: 10px;
}
.o-mixi42 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi41 {
  flex: 1;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  z-index: 2;
}
.o-mixi-frame {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l52 {
  margin-bottom: 10px;
}
.o-ba-l51 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container19 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.lu-nim-mixi42 {
  margin-bottom: 10px;
}
.lu-nim-mixi41 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container22 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.o-refund-gaming21 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container13 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.o-csgo39 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo38 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-pubg40 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg39 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.frame-parent39 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin25 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin24 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.thng-tin-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu25 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu24 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chnh-sch-bo-mt12 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container12 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.iu-khon25 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon24 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sitemap25 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap24 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frame-parent38,
.frame-parent40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent40 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.frame-parent38 {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.v-chng-ti-website-chnh-th-container {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.line-4-stroke12,
.next-page-group {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.next-page-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke12 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-202412 {
  font-weight: 300;
}
.copyright-2024-container12 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright-container {
  width: 364px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.line-4-stroke-parent1 {
  width: 1288px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  font-size: var(--font-size-2xl);
}
.frame-parent36,
.frame-wrapper10,
.line-4-stroke-parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent36 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-wrapper10 {
  width: 1408px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
}
.line-3-stroke-parent,
.shop-o-refund {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.line-3-stroke-parent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-16xl-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.shop-o-refund {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  padding: 0 0 var(--padding-12xs-5);
  box-sizing: border-box;
  gap: 154px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 725px) {
  .line-3-stroke-parent {
    gap: var(--gap-lg);
  }
  .shop-o-refund {
    gap: 77px;
  }
}
@media screen and (max-width: 650px) {
  .v-chng-ti-website-chnh-th-container {
    height: auto;
    min-height: 350;
  }
}
@media screen and (max-width: 450px) {
  .logo-container1 {
    gap: var(--gap-7xl);
  }
  .product-showcase {
    flex: 1;
  }
  .hero-navigation {
    flex-wrap: wrap;
  }
  .danh-mc-sn-container12,
  .h-tr12 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container22,
  .o-ba-l-container19,
  .o-csgo38,
  .o-mixi41,
  .o-pubg39,
  .o-refund-gaming-container13 {
    font-size: var(--font-size-mid);
  }
  .thng-tin24 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container12,
  .gii-thiu24,
  .iu-khon24,
  .sitemap24 {
    font-size: var(--font-size-mid);
  }
  .frame-parent40 {
    margin-left: 0;
  }
  .copyright-2024-container12 {
    font-size: var(--font-size-mid);
  }
  .shop-o-refund {
    gap: var(--gap-19xl);
  }
}
