.hinh-nen-trang-dien-thoai-55-1-icon13 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-mixi-tt-1-icon13 {
  width: 90px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.home-logo-container {
  align-self: stretch;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home13 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  font-weight: 800;
  display: inline-block;
}
.navigation-home-item,
.navigation-items,
.navigation-menu {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation-home-item {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.navigation-items,
.navigation-menu {
  overflow: hidden;
}
.navigation-items {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.navigation-menu {
  align-self: stretch;
  height: 23px;
  z-index: 1;
}
.navigation-column {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.danh-mc-sn18 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.product-category-link,
.product-category-link-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-category-link {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.product-category-link-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.thng-bo13 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.product-categories7 {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.info-column {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.home-column,
.menu-structure {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.home-column {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-33xl);
}
.menu-structure {
  width: 767px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.paper-bag-icon13 {
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.cart-icon-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.login-icon13 {
  position: absolute;
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.login-icon-container {
  height: 52px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.utility-column {
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.o-mixi44,
.tt-c-menu13 {
  display: flex;
  flex-shrink: 0;
}
.tt-c-menu13 {
  align-self: stretch;
  height: 88px;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-12xl) var(--padding-mid)
    var(--padding-21xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.o-mixi44 {
  width: 98px;
  height: 29px;
  position: relative;
  align-items: center;
}
.ca-hng11,
.trang-ch11 {
  position: relative;
  display: inline-block;
  min-width: 69px;
  cursor: pointer;
}
.ca-hng11 {
  z-index: 1;
}
.o-mixi45 {
  flex: 1;
  position: relative;
  z-index: 2;
}
.navigation-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.danh-mc-sn19 {
  position: relative;
}
.categories-header-child {
  width: 24px;
  height: 2px;
  position: relative;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.categories-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.o-ba-l53 {
  min-width: 61px;
  cursor: pointer;
}
.o-ba-l53,
.o-csgo40,
.o-mixi46 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.o-csgo40 {
  width: 72px;
  cursor: pointer;
}
.o-mixi46 {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.o-mixi46,
.o-pubg41 {
  min-width: 61px;
}
.lu-nim-mixi43,
.o-pubg41,
.o-refund-gaming22 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.lu-nim-mixi43 {
  min-width: 119px;
}
.product-categories-list1 {
  width: 207px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.product-image-pair {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi47 {
  margin: 0;
  font-weight: 300;
}
.o-sologan-mixigaming {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p33 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.first-product-items {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-image-pair1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi48 {
  margin: 0;
  font-weight: 300;
}
.o-phng-mixicity {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p34 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container1 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.second-product-items {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child37 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi49 {
  margin: 0;
  font-weight: 300;
}
.o-phng-mixi {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p35 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container2 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.first-products-row,
.rectangle-parent29 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent29 {
  flex: 1;
  gap: var(--gap-7xs);
  cursor: pointer;
}
.first-products-row {
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-xs);
}
.remove-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi50 {
  margin: 0;
  font-weight: 300;
}
.o-logo-2023 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p36 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container3 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.remove-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child38 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi51 {
  margin: 0;
  font-weight: 300;
}
.o-phng-mixicity1 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p37 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container4 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.rectangle-parent30 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-child39 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi52 {
  margin: 0;
  font-weight: 300;
}
.o-phng-mixi1 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p38 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container5 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.first-products-row1,
.rectangle-parent31 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent31 {
  flex: 1;
  gap: var(--gap-8xs);
}
.first-products-row1 {
  width: 230px;
  flex-shrink: 0;
  gap: var(--gap-xs);
}
.add-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi53 {
  margin: 0;
  font-weight: 300;
}
.o-phng-mixicity2 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p39 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container6 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.fourth-product-items {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.airquality-block-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.o-mixi54 {
  margin: 0;
  font-weight: 300;
}
.o-phng-mixicity3 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p40 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.o-mixi-o-container7 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.fourth-product-items1 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.fourth-product-items1,
.fourth-product-row,
.product-grid4,
.product-rows {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fourth-product-row {
  height: 733px;
  width: 230px;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.product-grid4,
.product-rows {
  max-width: 100%;
}
.product-rows {
  width: 714px;
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  gap: var(--gap-xs);
}
.product-grid4 {
  height: 1144px;
  flex-direction: column;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.products-navigation {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  font-size: var(--font-size-smi);
  color: var(--color-teal-200);
}
.content-wrapper,
.content1,
.products-navigation {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.content1 {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) 72px var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-3-stroke13 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footer8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl-5);
  box-sizing: border-box;
  max-width: 100%;
}
.next-page-icon13 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.v-chng-ti27 {
  letter-spacing: 0.01em;
}
.v-chng-ti26 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line66 {
  letter-spacing: 0.01em;
}
.blank-line65 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc13 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container13 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
}
.h-tr13 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.contact-label-container {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line67,
.blank-line68 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line68 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc13 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t13 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram27 {
  font-weight: 300;
}
.fanpage-v-instagram26 {
  margin: 0;
}
.mi-thc-mc-container13 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
}
.contact {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm13 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line69 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container13 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.categories-footer-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi57 {
  margin-bottom: 10px;
}
.o-mixi56 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi55 {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.website-name-footer-container {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l55 {
  margin-bottom: 10px;
}
.o-ba-l54 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container20 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.lu-nim-mixi45 {
  margin-bottom: 10px;
}
.lu-nim-mixi44 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container23 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
}
.o-refund-gaming23 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container14 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-csgo42 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo41 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.o-pubg43 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg42 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 1;
}
.footer-links-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin27 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin26 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.information-label-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu27 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu26 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chnh-sch-bo-mt13 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container13 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.iu-khon27 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon26 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sitemap27 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap26 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.footer-links2,
.information-links2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.information-links2 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.footer-links2 {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.description {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.line-4-stroke13,
.navigation-footer {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.navigation-footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke13 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-202413 {
  font-weight: 300;
}
.copyright-2024-container13 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright-2024-mixishop-frame,
.copyright2,
.footer-information1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-2024-mixishop-frame {
  width: 364px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.copyright2,
.footer-information1 {
  flex-direction: column;
}
.copyright2 {
  width: 1288px;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.footer-information1 {
  flex: 1;
}
.footer-content11,
.shop-o-mixi {
  display: flex;
  box-sizing: border-box;
}
.footer-content11 {
  width: 1408px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.shop-o-mixi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs-5);
  gap: var(--gap-4xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .content-wrapper {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .products-navigation {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .products-navigation {
    gap: var(--gap-lgi);
  }
  .content-wrapper {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .description {
    height: auto;
    min-height: 350;
  }
}
@media screen and (max-width: 450px) {
  .home-column {
    gap: var(--gap-7xl);
  }
  .danh-mc-sn-container13,
  .h-tr13 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container23,
  .o-ba-l-container20,
  .o-csgo41,
  .o-mixi55,
  .o-pubg42,
  .o-refund-gaming-container14 {
    font-size: var(--font-size-mid);
  }
  .thng-tin26 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container13,
  .gii-thiu26,
  .iu-khon26,
  .sitemap26 {
    font-size: var(--font-size-mid);
  }
  .information-links2 {
    margin-left: 0;
  }
  .copyright-2024-container13 {
    font-size: var(--font-size-mid);
  }
}
