.hinh-nen-trang-dien-thoai-55-1-icon2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-mixi-tt-1-icon2 {
  width: 90px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.home-nav-button {
  align-self: stretch;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home2 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  font-weight: 800;
  display: inline-block;
}
.notification-nav-button,
.notification-nav-button-wrapper,
.shop-nav-button {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.notification-nav-button {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.notification-nav-button-wrapper,
.shop-nav-button {
  overflow: hidden;
}
.notification-nav-button-wrapper {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.shop-nav-button {
  align-self: stretch;
  height: 23px;
  z-index: 1;
}
.shop-nav-button-wrapper {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.danh-mc-sn2 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.product-info-nav-button,
.product-info-nav-button-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-info-nav-button {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.product-info-nav-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.thng-bo2 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.product-nav-button {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.product-nav-button-wrapper {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.home-nav-button-parent,
.menu-nav {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.home-nav-button-parent {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-33xl);
}
.menu-nav {
  width: 767px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.paper-bag-icon2 {
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.paper-bag-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.login-icon2 {
  position: absolute;
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.login-wrapper {
  height: 52px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.tt-c-menu2,
.util-nav {
  display: flex;
  flex-direction: row;
}
.util-nav {
  width: 116px;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.tt-c-menu2 {
  align-self: stretch;
  height: 88px;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-12xl) var(--padding-mid)
    var(--padding-21xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.lu-nim-mixi4 {
  height: 29px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.trang-ch {
  min-width: 69px;
  cursor: pointer;
}
.ca-hng,
.lu-nim-mixi5,
.trang-ch {
  position: relative;
  display: inline-block;
}
.ca-hng {
  min-width: 69px;
  cursor: pointer;
  z-index: 1;
}
.lu-nim-mixi5 {
  min-width: 96px;
  z-index: 2;
}
.navigation-links2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.danh-mc-sn3,
.nav-separator {
  position: relative;
}
.nav-separator {
  width: 24px;
  height: 2px;
  border-top: 2px solid var(--color-black);
  box-sizing: border-box;
}
.product-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.o-ba-l4,
.o-csgo4,
.o-mixi6 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}
.o-ba-l4 {
  min-width: 61px;
}
.o-csgo4,
.o-mixi6 {
  width: 72px;
}
.o-mixi6 {
  width: 61px;
}
.o-pubg4 {
  min-width: 68px;
  cursor: pointer;
}
.lu-nim-mixi6,
.o-pubg4,
.o-refund-gaming2 {
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.o-refund-gaming2 {
  cursor: pointer;
}
.lu-nim-mixi6 {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  min-width: 152px;
}
.product-images-icon {
  align-self: stretch;
  height: 307px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.lu-nim-mixi7 {
  margin: 0;
  font-weight: 300;
}
.cc-mixi-1200ml {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container2 {
  height: 49px;
  flex: 1;
  position: relative;
  display: inline-block;
}
.product-price-panel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.product-grid-item-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi8 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p1 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container3 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-grid-item1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-8xs);
}
.product-grid-item-item {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi9 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh1 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p2 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container4 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-grid-item2 {
  align-self: stretch;
  height: 369px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.product-image-icon1 {
  align-self: stretch;
  height: 307px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.lu-nim-mixi10 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh2 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p3 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container5 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.category-panel,
.product-grid-item,
.product-grid-panel1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-grid-item {
  align-self: stretch;
  height: 1481px;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.category-panel,
.product-grid-panel1 {
  flex: 1;
}
.product-grid-panel1 {
  flex-direction: column;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  min-width: 149px;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
}
.category-panel {
  flex-direction: row;
  gap: var(--gap-2xs);
  min-width: 309px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-teal-200);
}
.second-product-image {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi11 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh3 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p4 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container6 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-grid-item5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.product-grid-item-inner {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi12 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh4 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p5 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container7 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-grid-item6 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.rectangle-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi13 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh5 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p6 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container8 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.product-grid-item7 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-8xs);
}
.product-grid-item3,
.product-grid-item4,
.product-grid-item7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-grid-item4 {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-xs);
}
.product-grid-item3 {
  height: 1143px;
  width: 230px;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
}
.third-product-images {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi14 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh6 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p7 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container9 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.third-product-images-parent {
  align-self: stretch;
  height: 367px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.frame-child4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lu-nim-mixi15 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh7 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p8 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container10 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.rectangle-parent1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-8xs);
}
.frame-child5 {
  align-self: stretch;
  height: 307px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.lu-nim-mixi16 {
  margin: 0;
  font-weight: 300;
}
.b-ghp-hnh8 {
  margin: 0;
  font-size: var(--font-size-smi);
  font-weight: 500;
  color: var(--color-teal-200);
}
.p9 {
  margin: 0;
  font-size: var(--font-size-sm);
}
.lu-nim-mixi-container11 {
  align-self: stretch;
  height: 49px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.frame-group,
.product-grid-item8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  flex: 1;
  gap: var(--gap-8xs);
}
.product-grid-item8 {
  height: 1143px;
  width: 230px;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
}
.product-grid-panel {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-5xs);
}
.header-content-panel,
.lu-nim-mixi-parent,
.product-grid-panel {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.lu-nim-mixi-parent {
  width: 959px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  text-align: left;
  font-size: var(--font-size-lgi);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.header-content-panel {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-2xl) var(--padding-94xl) var(--padding-xl);
  box-sizing: border-box;
}
.line-3-stroke2 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.content-separator {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xl-5);
  box-sizing: border-box;
  max-width: 100%;
}
.next-page-icon2 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 1;
}
.v-chng-ti5 {
  letter-spacing: 0.01em;
}
.v-chng-ti4 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line11 {
  letter-spacing: 0.01em;
}
.blank-line10 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc2 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container2 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
}
.h-tr2 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.support-header1 {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line12,
.blank-line13 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line13 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc2 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t2 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram5 {
  font-weight: 300;
}
.fanpage-v-instagram4 {
  margin: 0;
}
.mi-thc-mc-container2 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
}
.support {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm2 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line14 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container2 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.footer-product-nav {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi9 {
  margin-bottom: 10px;
}
.o-mixi8 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-mixi7 {
  flex: 1;
  position: relative;
  font-weight: 300;
  z-index: 2;
}
.footer-brand {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l6 {
  margin-bottom: 10px;
}
.o-ba-l5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-ba-l-container2 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.lu-nim-mixi18 {
  margin-bottom: 10px;
}
.lu-nim-mixi17 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container12 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
}
.o-refund-gaming3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-refund-gaming-container2 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.o-csgo6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-csgo5 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
}
.o-pubg6 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.o-pubg5 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.footer-categories {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin5 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin4 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.footer-contact {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.gii-thiu4 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.chnh-sch-bo-mt2 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container2 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.iu-khon5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.iu-khon4 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.sitemap5 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-9xl);
}
.sitemap4 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.footer-info,
.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.footer-info {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.footer-links {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.about {
  height: 350px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.footer-nav,
.line-4-stroke2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke2 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-20242 {
  font-weight: 300;
}
.copyright-2024-container2 {
  height: 64px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.copyright-info1,
.footer-content1,
.footer-copyright {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-info1 {
  width: 364px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.footer-content1,
.footer-copyright {
  flex-direction: column;
}
.footer-copyright {
  width: 1288px;
  gap: var(--gap-10xl-5);
  margin-top: -29.5px;
  font-size: var(--font-size-2xl);
}
.footer-content1 {
  flex: 1;
}
.footer2,
.shop-lu-nim-mixi {
  display: flex;
  box-sizing: border-box;
}
.footer2 {
  width: 1408px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.shop-lu-nim-mixi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs-5);
  gap: var(--gap-4xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .header-content-panel {
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .header-content-panel {
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .about {
    height: auto;
    min-height: 350;
  }
}
@media screen and (max-width: 450px) {
  .home-nav-button-parent {
    gap: var(--gap-7xl);
  }
  .category-panel {
    flex-wrap: wrap;
  }
  .header-content-panel {
    padding-bottom: var(--padding-12xl);
    box-sizing: border-box;
  }
  .danh-mc-sn-container2,
  .h-tr2 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container12,
  .o-ba-l-container2,
  .o-csgo5,
  .o-mixi7,
  .o-pubg5,
  .o-refund-gaming-container2 {
    font-size: var(--font-size-mid);
  }
  .thng-tin4 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container2,
  .gii-thiu4,
  .iu-khon4,
  .sitemap4 {
    font-size: var(--font-size-mid);
  }
  .footer-info {
    margin-left: 0;
  }
  .copyright-2024-container2 {
    font-size: var(--font-size-mid);
  }
}
