.image-1-icon1,
.v-d-116 {
  position: relative;
  display: none;
}
.image-1-icon1 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.v-d-116 {
  width: 187px;
  height: 18px;
  flex-shrink: 0;
}
.hinh-nen-trang-dien-thoai-55-1-icon1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.logo-mixi-tt-1-icon1 {
  width: 90px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.logo-container {
  align-self: stretch;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.home1 {
  height: 22px;
  width: 157px;
  position: absolute;
  margin: 0 !important;
  right: -52px;
  bottom: -4px;
  display: inline-block;
}
.home-button-container,
.home-link-container1,
.home-wrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-wrapper {
  margin-left: -1px;
  height: 18px;
  flex: 1;
  position: relative;
  debug_commit: f6aba90;
  cursor: pointer;
}
.home-button-container,
.home-link-container1 {
  overflow: hidden;
}
.home-button-container {
  margin-top: -4px;
  margin-left: -7px;
  width: 56px;
  padding: var(--padding-9xs) 0 var(--padding-4xs);
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.home-link-container1 {
  align-self: stretch;
  height: 23px;
  z-index: 1;
}
.navigation-links1 {
  width: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-sm);
  box-sizing: border-box;
}
.danh-mc-sn1 {
  margin-left: -38px;
  height: 36px;
  width: 254px;
  position: relative;
  font-weight: 800;
  display: inline-block;
  flex-shrink: 0;
  debug_commit: f6aba90;
  cursor: pointer;
}
.danh-mc-sn-phm-wrapper,
.product-category-button-contai-inner {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.danh-mc-sn-phm-wrapper {
  margin-top: -4px;
  margin-left: -5px;
  height: 26px;
  width: 178px;
  flex-shrink: 0;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
  debug_commit: f6aba90;
}
.product-category-button-contai-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 17px;
  z-index: 1;
}
.thng-bo1 {
  position: absolute;
  top: 0;
  left: 144px;
  font-weight: 800;
  display: inline-block;
  width: 254px;
  height: 36px;
  white-space: nowrap;
  z-index: 2;
}
.product-category-button-contai {
  align-self: stretch;
  height: 36px;
  position: relative;
}
.product-categories-container {
  width: 398px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
}
.header1,
.navigation-container1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.header1 {
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-33xl);
}
.navigation-container1 {
  width: 767px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.paper-bag-icon1 {
  width: 35px;
  height: 35px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.cart-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
}
.login-icon1 {
  position: absolute;
  width: calc(100% - 2px);
  top: 2px;
  right: 2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
  z-index: 2;
}
.checkout-progress {
  height: 52px;
  flex: 1;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.user-actions1 {
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.tt-c-menu-child {
  height: 2px;
  width: 170px;
  position: relative;
  border-top: 2px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
  z-index: 3;
}
.tt-c-menu1 {
  align-self: stretch;
  height: 88px;
  border-bottom: 2px solid var(--color-gray);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-12xl) var(--padding-mid)
    var(--padding-21xl);
  position: sticky;
  top: 0;
  z-index: 99;
  max-width: 100%;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.shopping-cart1 {
  margin: 0;
  height: 34px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 200;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forward-icon2 {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
}
.forward-wrapper,
.step-titles {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.forward-wrapper {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
}
.step-titles {
  width: 237px;
  flex-direction: row;
  gap: var(--gap-12xs);
}
.checkout-details1 {
  margin: 0;
  height: 34px;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 168px;
}
.forward-icon3 {
  width: 20px;
  height: 20px;
  position: relative;
  object-fit: cover;
}
.forward-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.order-complete1,
.step-titles1 {
  display: flex;
  justify-content: center;
}
.step-titles1 {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  min-width: 181px;
  row-gap: 20px;
}
.order-complete1 {
  margin: 0;
  height: 34px;
  width: 258px;
  position: relative;
  font-size: inherit;
  font-weight: 200;
  font-family: inherit;
  align-items: center;
  flex-shrink: 0;
}
.checkout-flow,
.checkout-flow-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.checkout-flow {
  width: 783px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.checkout-flow-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-11xl);
  box-sizing: border-box;
}
.thng-tin-thanh {
  width: 191px;
  height: 22px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.h-v-tn {
  flex: 1;
  position: relative;
}
.name-field {
  width: 73px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.frame-child1 {
  height: 28px;
  width: 550px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.h-tn-ca {
  width: 107px;
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.frame-div,
.name-input,
.name-input-box {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-div {
  flex: 1;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-6xs) var(--padding-9xs);
}
.name-input,
.name-input-box {
  align-self: stretch;
}
.name-input-box {
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.name-input {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.s-in-thoi,
.s-in-thoi1 {
  width: 94px;
  position: relative;
  display: inline-block;
}
.s-in-thoi1 {
  width: 145px;
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 18px;
  color: var(--color-black);
  text-align: left;
  padding: 0;
}
.phone-input-box,
.phone-input-box-child {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
}
.phone-input-box-child {
  height: 29px;
  width: 264px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.phone-input-box {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-6xs) var(--padding-11xs);
  z-index: 1;
}
.contact-input-fields,
.phone-input-box-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.phone-input-box-wrapper {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.contact-input-fields {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.nng,
.tnhthnh-ph {
  width: 105px;
  position: relative;
  display: inline-block;
}
.nng {
  width: 145px;
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 18px;
  color: var(--color-black);
  text-align: left;
  padding: 0;
}
.frame-child2,
.nng-parent {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
}
.frame-child2 {
  height: 29px;
  width: 264px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.nng-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-10xs);
  z-index: 1;
}
.contact-input-fields-inner,
.contact-input-fields1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-input-fields-inner {
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
}
.contact-input-fields1 {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.chn-xphng,
.xphng {
  width: 105px;
  position: relative;
  display: inline-block;
}
.chn-xphng {
  width: 145px;
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 18px;
  color: var(--color-black);
  text-align: left;
  padding: 0;
}
.commune-field,
.commune-field-child {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
}
.commune-field-child {
  height: 29px;
  width: 264px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.commune-field {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xs) var(--padding-10xs);
  z-index: 1;
}
.location-information,
.phone-number-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.location-information {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-6xs);
}
.phone-number-input {
  flex: 1;
  align-items: flex-end;
  gap: var(--gap-mid);
  min-width: 173px;
}
.a-ch-email,
.email-ca-bn {
  width: 94px;
  position: relative;
  display: inline-block;
}
.email-ca-bn {
  width: 145px;
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 18px;
  color: var(--color-black);
  text-align: left;
  padding: 0;
}
.email-input-box-child {
  height: 29px;
  width: 264px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  display: none;
}
.email-and-address,
.email-input-box {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-input-box {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-11xs);
  z-index: 1;
}
.email-and-address {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.chn-qun-huyn,
.qunhuyn {
  width: 105px;
  position: relative;
  display: inline-block;
}
.chn-qun-huyn {
  width: 145px;
  border: 0;
  outline: 0;
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  background-color: transparent;
  height: 18px;
  color: var(--color-black);
  text-align: left;
  padding: 0;
}
.frame-child3 {
  height: 29px;
  width: 264px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  display: none;
}
.chn-qun-huyn-parent,
.email-and-address1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.chn-qun-huyn-parent {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  flex-direction: row;
  padding: var(--padding-4xs) var(--padding-5xs) var(--padding-11xs);
  z-index: 1;
}
.email-and-address1 {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.a-ch-giao {
  width: 112px;
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-arial);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 14px;
  position: relative;
  font-weight: 700;
  color: var(--color-black);
  text-align: left;
  flex-shrink: 0;
  padding: 0;
}
.email-and-address-child {
  align-self: stretch;
  height: 29px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
}
.additional-contact-info,
.email-and-address2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-and-address2 {
  align-self: stretch;
  gap: var(--gap-6xs);
}
.additional-contact-info {
  flex: 1;
  gap: 17.5px;
  min-width: 173px;
}
.contact-details,
.contact-information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.contact-details {
  flex: 1;
  gap: var(--gap-4xl);
}
.contact-information {
  align-self: stretch;
  padding: 0 0 var(--padding-4xs) var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.ghi-ch-n,
.thng-tin-b {
  position: relative;
  display: inline-block;
}
.thng-tin-b {
  width: 191px;
  height: 22px;
  flex-shrink: 0;
}
.ghi-ch-n {
  width: 175px;
}
.ghi-ch-n-hng-ty-chn-parent,
.notes-area,
.notes-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.notes-area {
  border: 1px solid var(--color-gray);
  background-color: var(--color-gainsboro-200);
  height: 89px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-6xs);
  font-family: var(--font-arial);
  font-size: var(--font-size-2xs);
  color: var(--color-black);
}
.ghi-ch-n-hng-ty-chn-parent,
.notes-input {
  max-width: 100%;
}
.ghi-ch-n-hng-ty-chn-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-11xs);
}
.notes-input {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.order-notes {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8xs);
}
.additional-information,
.order-notes,
.personal-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.additional-information {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.personal-details {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lgi);
  min-width: 360px;
}
.order-summary-child {
  width: 385px;
  height: 406px;
  position: relative;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.n-hng-ca {
  height: 23px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.sn-phm1 {
  width: 77px;
  font-weight: 600;
}
.o-3-l1,
.sn-phm1,
.tm-tnh2,
.tng1 {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.o-3-l1 {
  height: 24px;
  flex-shrink: 0;
}
.tm-tnh2,
.tng1 {
  width: 55px;
  font-weight: 600;
}
.subtotal-and-total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.div4,
.tm-tnh3 {
  position: relative;
  z-index: 1;
}
.tm-tnh3 {
  align-self: stretch;
  font-weight: 600;
}
.div4 {
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
}
.currency-symbol {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-3xs);
}
.div5,
.div6 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.total-price {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.tm-tnh-parent,
.total-price,
.total-price-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.total-price-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-smi) 0 var(--padding-3xs);
}
.tm-tnh-parent {
  width: 77px;
  flex-direction: column;
  gap: var(--gap-mini);
}
.item-details,
.order-details,
.order-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.item-details {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.order-details,
.order-items {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.order-details {
  flex-direction: column;
  padding: 0 0 var(--padding-7xs);
  gap: var(--gap-6xs);
  font-size: var(--font-size-sm);
}
.ha-n-cha {
  flex: 1;
  position: relative;
  line-height: 121.29%;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.shipping-info {
  width: 327px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-mini);
  box-sizing: border-box;
  max-width: 100%;
}
.iu-khon-v {
  color: var(--color-teal-200);
}
.ti-c-container {
  flex: 1;
  position: relative;
  line-height: 15px;
  z-index: 1;
}
.checkmark {
  height: 10px;
  width: 10px;
  position: relative;
  border-radius: var(--br-11xs);
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
}
.clickframe-431 {
  margin: 0 !important;
  position: absolute;
  bottom: -8px;
  left: -9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  z-index: 2;
}
.ti-c-v-ng-vi-iu-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-3xl);
  position: relative;
}
.website {
  position: relative;
  line-height: 121.29%;
  display: inline-block;
  min-width: 61px;
  z-index: 1;
}
.agreement-checkbox {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.button-container-child {
  height: 29px;
  width: 98px;
  position: relative;
  border-radius: var(--br-10xs);
  background-color: var(--color-tomato-100);
  display: none;
}
.t-hng {
  flex: 1;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 16px;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  min-width: 75px;
  z-index: 2;
}
.button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) 11px var(--padding-6xs);
  background-color: var(--color-tomato-100);
  flex: 1;
  border-radius: var(--br-10xs);
  flex-direction: row;
  white-space: nowrap;
  z-index: 1;
}
.button-container:hover {
  background-color: #ff6642;
}
.button-container,
.order-button,
.terms-and-conditions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.order-button {
  width: 100px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.terms-and-conditions {
  width: 338px;
  flex-direction: column;
  gap: var(--gap-4xs);
  max-width: 100%;
}
.chnh-sch-ring {
  color: var(--color-teal-200);
}
.thng-tin-c-container {
  width: 322px;
  position: relative;
  line-height: 121.29%;
  font-weight: 500;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.order-summary,
.payment-information {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.order-summary {
  width: 385px;
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-teal-200);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lg) var(--padding-8xs) var(--padding-4xl)
    var(--padding-2xl);
  gap: var(--gap-smi);
  min-width: 385px;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
}
.payment-information {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 34px;
  text-align: left;
  font-size: var(--font-size-sm);
  font-family: var(--font-arial);
}
.checkout-steps {
  width: 973px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
}
.line-3-stroke1,
.order-status {
  align-self: stretch;
  max-width: 100%;
}
.order-status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-31xl) var(--padding-8xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.line-3-stroke1 {
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.next-page-icon1 {
  height: 50px;
  width: 50px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -33px;
  object-fit: contain;
  cursor: pointer;
  z-index: 2;
}
.v-chng-ti3 {
  letter-spacing: 0.01em;
}
.v-chng-ti2 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line6 {
  letter-spacing: 0.01em;
}
.blank-line5 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.website-chnh-thc1 {
  margin: 0;
  font-size: var(--font-size-lgi);
  letter-spacing: -0.01em;
  line-height: 121.06%;
  font-weight: 300;
}
.v-chng-ti-container1 {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  width: 371px;
  z-index: 1;
}
.h-tr1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.support-header {
  width: 356px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.blank-line7,
.blank-line8 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line8 {
  font-size: var(--font-size-lgi);
}
.mi-thc-mc1 {
  font-weight: 300;
}
.mi-thc-mc-v-gp-cn-h-t1 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.fanpage-v-instagram3 {
  font-weight: 300;
}
.fanpage-v-instagram2 {
  margin: 0;
}
.mi-thc-mc-container1 {
  align-self: stretch;
  height: 68.1px;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 121.25%;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.support-header-parent {
  position: absolute;
  top: 0.6px;
  left: 935px;
  width: 395px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl-2);
  max-width: 100%;
}
.danh-mc-sn-phm1 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.blank-line9 {
  margin: 0;
  font-size: var(--font-size-8xl);
  font-weight: 300;
}
.danh-mc-sn-container1 {
  height: 40px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.category-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-12xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.o-mixi5 {
  margin-bottom: 10px;
}
.o-mixi3,
.o-mixi4 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.o-mixi4 {
  padding-left: var(--padding-9xl);
}
.o-mixi3 {
  flex: 1;
  position: relative;
  font-weight: 300;
  cursor: pointer;
  z-index: 3;
}
.mixi-apparel {
  width: 304px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.o-ba-l3 {
  margin-bottom: 10px;
}
.o-ba-l-container1,
.o-ba-l2 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.o-ba-l2 {
  padding-left: var(--padding-9xl);
}
.o-ba-l-container1 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  z-index: 2;
}
.lu-nim-mixi3 {
  margin-bottom: 10px;
}
.lu-nim-mixi-container1,
.lu-nim-mixi2 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.lu-nim-mixi2 {
  padding-left: var(--padding-9xl);
}
.lu-nim-mixi-container1 {
  width: 302px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.o-refund-gaming1 {
  padding-left: var(--padding-9xl);
}
.o-csgo3,
.o-refund-gaming-container1,
.o-refund-gaming1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
.o-refund-gaming-container1 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.o-csgo3 {
  padding-left: var(--padding-9xl);
}
.o-csgo2 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.o-csgo2,
.o-pubg2,
.o-pubg3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.o-pubg3 {
  padding-left: var(--padding-9xl);
}
.o-pubg2 {
  width: 302px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 2;
}
.product-categories1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  min-width: 228px;
  max-width: 100%;
}
.thng-tin3 {
  margin-block-start: 0;
  margin-block-end: 11px;
}
.thng-tin2 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.information-header1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs) var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.gii-thiu2,
.gii-thiu3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.gii-thiu3 {
  padding-left: var(--padding-9xl);
}
.gii-thiu2 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.chnh-sch-bo-mt1 {
  padding-left: var(--padding-9xl);
}
.chnh-sch-bo-container1,
.chnh-sch-bo-mt1,
.iu-khon3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}
.chnh-sch-bo-container1 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.iu-khon3 {
  padding-left: var(--padding-9xl);
}
.iu-khon2 {
  width: 295px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.iu-khon2,
.sitemap2,
.sitemap3 {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}
.sitemap3 {
  padding-left: var(--padding-9xl);
}
.sitemap2 {
  width: 273px;
  height: 35px;
  position: relative;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.information-links1,
.product-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.information-links1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
  min-width: 233px;
  margin-left: -51px;
}
.product-links1 {
  position: absolute;
  top: 0;
  left: 362px;
  width: 658px;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  font-size: var(--font-size-2xl);
  color: var(--color-teal-200);
}
.v-chng-ti-website-chnh-th-parent {
  height: 350px;
  flex: 1;
  position: relative;
  flex-shrink: 0;
  debug_commit: f6aba90;
}
.line-4-stroke1,
.next-page-parent {
  align-self: stretch;
  position: relative;
  max-width: 100%;
}
.next-page-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-4-stroke1 {
  overflow: hidden;
  max-height: 100%;
}
.copyright-20241 {
  font-weight: 300;
}
.copyright-2024-container1 {
  margin: 0;
  height: 64px;
  flex: 1;
  position: relative;
  font-size: inherit;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.copyright-info,
.footer1,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.copyright-info {
  width: 364px;
  flex-direction: row;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.footer1,
.frame-parent {
  flex-direction: column;
}
.footer1 {
  width: 1288px;
  gap: var(--gap-10xl-5);
  flex-shrink: 0;
  debug_commit: f6aba90;
  margin-top: -29.5px;
  font-size: var(--font-size-2xl);
}
.frame-parent {
  height: 414.5px;
  flex: 1;
  padding: 0 0 var(--padding-45xl-5);
  box-sizing: border-box;
}
.trang-thng-tin-giao-hng,
.trang-thng-tin-giao-hng-inner {
  display: flex;
  text-align: left;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.trang-thng-tin-giao-hng-inner {
  width: 1408px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-20xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
}
.trang-thng-tin-giao-hng {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-16xl);
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-smi);
}
@media screen and (max-width: 825px) {
  .order-summary {
    flex: 1;
  }
  .payment-information {
    flex-wrap: wrap;
  }
  .trang-thng-tin-giao-hng {
    gap: var(--gap-mid);
  }
}
@media screen and (max-width: 675px) {
  .contact-details {
    flex-wrap: wrap;
  }
  .order-summary {
    min-width: 100%;
  }
  .payment-information {
    gap: var(--gap-mid);
  }
  .checkout-steps {
    gap: var(--gap-4xl);
  }
  .order-status {
    padding-bottom: 32px;
    box-sizing: border-box;
  }
  .v-chng-ti-website-chnh-th-parent {
    height: auto;
    min-height: 350;
  }
  .frame-parent {
    height: auto;
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .header1 {
    gap: var(--gap-7xl);
  }
  .checkout-details1,
  .shopping-cart1 {
    font-size: var(--font-size-xl);
  }
  .step-titles1 {
    flex-wrap: wrap;
  }
  .order-complete1 {
    font-size: var(--font-size-xl);
  }
  .personal-details {
    min-width: 100%;
  }
  .item-details {
    flex-wrap: wrap;
  }
  .order-summary {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .danh-mc-sn-container1,
  .h-tr1 {
    font-size: var(--font-size-xl);
  }
  .lu-nim-mixi-container1,
  .o-ba-l-container1,
  .o-csgo2,
  .o-mixi3,
  .o-pubg2,
  .o-refund-gaming-container1 {
    font-size: var(--font-size-mid);
  }
  .thng-tin2 {
    font-size: var(--font-size-xl);
  }
  .chnh-sch-bo-container1,
  .gii-thiu2,
  .iu-khon2,
  .sitemap2 {
    font-size: var(--font-size-mid);
  }
  .information-links1 {
    margin-left: 0;
  }
  .copyright-2024-container1 {
    font-size: var(--font-size-mid);
  }
}
